In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import platform
from matplotlib import font_manager, rc
matplotlib.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Windows':
    plt.rc('font', family='Malgun Gothic')

# Pandas
데이터 프레임
파이썬에서 데이터를 편리하게 다루기 위해 테이블 구조로 데이터를 처리하는 경우가 많음
파이썬의 pandas 패키지를 사용하여, 제공하는 데이터 프레임을 이용

### 기본 기능
데이터프레임에는 숫자, 문자열, 불리언 등 임의의 타입의 데이터를 담을 수 있음
+ 예제 딕셔너리 타입의 데이터로부터 데이터프레임을 만드는 예를 보임

In [5]:
dic = {'city':['서울', '부산', '대전', '대구', '광주'],
      'year':[2017,2017,2018,2018,2018],
      'temp':[18, 20, 19, 21, 20]}
data = pd.DataFrame(dic)
print(data)

  city  year  temp
0   서울  2017    18
1   부산  2017    20
2   대전  2018    19
3   대구  2018    21
4   광주  2018    20

데이터프레임을 만들면 인덱싱 번호가 자동으로 부여되며 번호는 0부터 시작

컬럼의 배치는 알파벳순으로 정렬, 컬럼의 순서를  바꾸려면 컬럼명을 원하는 순서로 된 리스트로 만들어서 인자로 주면 된다.

In [6]:
data[['year','city','temp']]

   year city  temp
0  2017   서울    18
1  2017   부산    20
2  2018   대전    19
3  2018   대구    21
4  2018   광주    20

## 인덱스
인덱스를 임의의 이름으로 지정할 수 있음

In [8]:
data.index = ['a', 'b', 'c', 'd', 'e']
print(data)

  city  year  temp
a   서울  2017    18
b   부산  2017    20
c   대전  2018    19
d   대구  2018    21
e   광주  2018    20

컬럼 이름을 변경

In [9]:
data.columns = ['도시', '연도', '날씨']

특정한 **컬럼의 내용**만 얻기
1. 컬럼의 이름을 [] 내의 인자로 지정하는 방법
2. 컬림 이름을 속성 값으로 취급하여 "." 연산을 이용하는 방법

+ 컬럼명으로 접근(data['연도'])
+ 속성값으로 접근(data.연도)

데이터프레임에서 특정 행을 얻는 방법에는 두 가지가 있음
인덱스를 사용하는 방법 loc()을 사용하는 방법

In [10]:
data.loc['b']

도시      부산
연도    2017
날씨      20
Name: b, dtype: object

인덱스가 아니라 행의 위치를 지정하는 방법
이때는 iloc()을 사용
":"를 사용하여 행의 범위를 지정 가능

In [11]:
data.iloc[1:3]

   도시    연도  날씨
b  부산  2017  20
c  대전  2018  19